* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;

}

.container header {
  color: white;
  display: flex;
  height: 120px;
  background-color: #090d1f;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.container header h1 {
  font-size: 40px;
}

.container header h2 {
  font-size: 16px;
}

.container header div {
  text-align: center;
}

header img {
  width: 90px;
}

main {
  display: flex;
}

.filtro,
.carrinho {
  background-color: #43073C;
  width: 70%;
  color: #FFFFFF;
  padding: 10px;
}

.filtro {
  text-align: center;

}

.produtos {
  width: 350vw;
}

.carrinho {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.img_produto {
  width: 250px;
}

.parte-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  row-gap: 40px;
  margin: 20px;
  justify-items: center
}

.parte-produtos>div {
  border: 1px solid #090D1F;
  border-radius: 20px;
  box-shadow: 2px 2px 2px #090D1F;
  max-width: 240px;
  width: 90%;
  min-width: 170px;
  transition: 0.5s;
  font-size: 16px;
  text-align: center;
  padding-bottom: 5px;

}

.parte-produtos>div:hover {
  transform: scale(1.03);
}

.parte-produtos>div button {
  border-radius: 15px;
  width: 160px;
  height: 10%;
  cursor: pointer;
  padding-bottom: 1rem;
  vertical-align: middle;
}

.parte-produtos>div button:hover {
  color: white;
  background-color: #090D1F;
}

.parte-produtos img {
  width: 10rem;
  height: 10rem;
  padding-top: 15px;
}


.header-main {
  height: 40px;
  display: flex;
  justify-self: center;
  align-items: center;
  width: 100%;
  padding-top: 22px;
  padding-inline: 22px;
  padding-left: 15px;
}


footer {
  background-color: #090D1F;
  bottom: 0;
  color: #ffffff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
